<!DOCTYPE html>
<html>
  <head>
    <title>FakeHolidayApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'All Holidays', holidays_path %>
      <%= link_to 'New Holiday', new_holiday_path %>
    </nav>
    <%= yield %>
  </body>
</html>
