<h1><%= @holiday.name %></h1>

<% if @success %>
  <p style="color: green;">
    <%= @success %>
  </p>
<% end %>

<p>
  Date: <%= @holiday.date %>
</p>
<p>
  <%= @holiday.description %>
</p>

<%= button_to "Delete this holiday", @holiday, method: :delete %>

<h2>All Parties</h2>
<% @holiday.parties.each do |party| %>
  <p>
    <%= link_to party.location, party %>
  </p>
<% end %>