<h1>let's party</h1>

<%= form_for @party do |f| %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br>
  <%= f.label :date %>
  <%= f.text_field :date %>
  <br>
  <%= f.label :headcount %>
  <%= f.number_field :headcount %>
  <br>
  <%= f.label :holiday_id %>
  <%= f.collection_select(:holiday_id, Holiday.all, :id, :name_with_description) %>
  <br>
  <%= f.submit %>
<% end %>

<select name="party[holiday_id]">
  <% Holiday.all.each do |holiday| %>
    <option value="<%= holiday.id %>">
      <%= holiday.name_with_description %>
    </option>
  <% end %>
</select>